


body {
    color: #434455;
    background-color: #fff;
    font-family:"Roboto", sans-serif;
}

ul, ol {
    list-style-type: none
}

a {
    text-decoration: none
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}
.header-logo .logo-part{
    color: #2e2f42;
}

.footer-logo .logo-part{
    color: #f4f4fd;
}

.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
 }

.page-footer {
background-color: #2e2f42;
}

.section-one {
    background-color: #2e2f42;
    justify-content: center;

}

.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    background-color: #404bbf;
}

.title-two {
color:  #2e2f42;
font-size: 20px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.02em;
}

.pgg {
    color: #434455;
    letter-spacing: 0.02em;
     font-size: 16px;
    line-height: 1.5;
}

.section-three {
    background-color: #F4F4FD;
     font-size: 36px;
     line-height: 1.11;
}

.title-team {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-size: 36px;
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}

.team-item {
    background-color: #FFFFFF;
    font-size: 36px;
    line-height: 1.11;
}

.title-portfolio {
font-size:36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
 
.titlesfour {
color: #2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em
}

.footer {
    background-color: #2e2f42 ;
}

.pff {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.span {
color:#f4f4fd
}

.htwotitletwo{
font-size:20px;
line-height: 1.2;
}

.parag {
    color: #434455;
    line-height: 1.5;
    font-size: 16px
}

.portfolio-item {
    font-size: 36px;
    line-height: 1.11;
}